# Bỏ qua thư mục chứa kết quả sau khi biên dịch
Debug/
Release/

# Bỏ qua các tệp tin trung gian và tệp tin mã máy
*.o
*.elf
*.bin
*.hex
*.map
*.list
*.su

# Bỏ qua các tệp tin lưu trữ cấu hình cá nhân của phần mềm lập trình
.mxproject
*.launch
